@font-face {
    font-family: 'IsaacGame';
    src: url('/src/assets/fonts/IsaacGame.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

body {
    font-family: 'IsaacGame';
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #583739;
    color: #372b2d;
}
label, span { 
    font-size: 2rem;
    color: #372b2d;
}
.header {
    background-color: #282828;
    text-align: center;
    padding: 20px 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 20px;
}

.character-section {
    margin: 20px;
    padding: 50px;
    background-color: transparent;
    background-image: url('/src/assets/ui_images/character_background_ui.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: pixelated;
    border: 2px solid #444;
}

.character-display {
    position: relative;
    margin: 20px;
    padding: 15px;
    text-align: center;
}

.character-display img {
    position: relative;
    width: 150px;
    height: 150px;
    image-rendering: pixelated;
    object-fit: contain;
}

.character-display select {
    margin-top: 10px;
    padding: 5px;
    font-size: 2rem;
    background-color: #1e1e1e;
    color: #e9dadf;
    border: 1px solid #444;
    outline: none;
}

.stats-section {
    background-image: url('/src/assets/ui_images/stats_background_ui.png');
    background-size: contain;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    background-position: center;
    border: 2px solid #444;
    padding: 135px;
    text-align: left;
}

.stat {
    margin-bottom: 10px;
    display: flex;
    align-items: center; /* Align icon and text vertically */
    gap: 10px; /* Add space between icon and text */
}

.stat-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
    image-rendering: pixelated;
}

.items-display, .items-list {
    width: 80%;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

h2 {
    margin-top: 0;
}